.as-component__label {
    display: block;
}

.as-component__required {
    color: red;
}

.as-component__input input:not([type="submit"]), .as-component__input textarea {
    width: 100%;
    padding: 10px !important;
}

.ascf-hidden {
    opacity: 0.5 !important;
    pointer-events:none;
} 
